In [92]:
import pandas as pd
import numpy as np

In [93]:
weather = pd.read_csv('/Users/leeyeji/Desktop/Kaggle WNV/predict-west-nile-virus/weather.csv')

In [12]:
#use this code only if you want to change the missing value "M" with "NaN" 
weather=weather.replace(['M'], np.NaN)

In [94]:
weather.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

In [ ]:
#Split the dataset into station1 and station2

In [95]:
station1 = weather.loc[weather['Station'] == 1]

In [96]:
station2 = weather.loc[weather['Station'] == 2]

In [ ]:
#join the separated dataset

In [97]:
final_station = station1.join(station2.set_index('Date'), on='Date', lsuffix = '_Station1', rsuffix='_Station2')

---

In [7]:
#Column name : Depart - since all missing values belong to Station2, 
#We have deicede to replace the missing value of station2 with the value of station1 where has the same date

In [18]:
#Replace the missing values of Depart_Station2 with values of Depart_Station1 
 # Use this code only if you changed the "M" to "NaN"
for col in ['Depart_Station2']:
    final_station[col] = final_station[col].fillna(final_station['Depart_Station1'])

In [19]:
final_station[['Depart_Station1','Depart_Station2']]

     Depart_Station1 Depart_Station2
0                 14              14
2                 -3              -3
4                  2               2
6                  4               4
8                  5               5
10                 4               4
12                10              10
14                12              12
16                13              13
18                14              14
20                 4               4
22                -2              -2
24                -2              -2
26                15              15
28                11              11
30                -4              -4
32                -6              -6
34                -3              -3
36                 8               8
38                -5              -5
40                 1               1
42                10              10
44                14              14
46                14              14
48                 1               1
50                -5              -5
52                 4               4
54                 2               2
56                10              10
58                13              13
...              ...             ...
2884              10              10
2886              -3              -3
2888             -16             -16
2890             -11             -11
2892              -4              -4
2894               1               1
2896              -1              -1
2898              -2              -2
2900              -6              -6
2902              -6              -6
2904              -3              -3
2906               9               9
2908               6               6
2910               0               0
2912               1               1
2914               3               3
2916              -8              -8
2918              -7              -7
2920               6               6
2922              -1              -1
2924              -4              -4
2926              -1              -1
2928              11              11
2930              13              13
2932               5               5
2934              16              16
2936              10              10
2938              -4              -4
2940              -4              -4
2942              -6              -6

[1472 rows x 2 columns]

In [98]:
#Replace the missing values of Depart_Station2 with values of Depart_Station1 
 #If you still keep the missing value as "M" use this code 
final_station['Depart_Station2'] = np.where((final_station.Depart_Station2 == 'M'),
                                            final_station.Depart_Station1, final_station.Depart_Station2)

In [99]:
final_station[['Depart_Station1','Depart_Station2']]

     Depart_Station1 Depart_Station2
0                 14              14
2                 -3              -3
4                  2               2
6                  4               4
8                  5               5
10                 4               4
12                10              10
14                12              12
16                13              13
18                14              14
20                 4               4
22                -2              -2
24                -2              -2
26                15              15
28                11              11
30                -4              -4
32                -6              -6
34                -3              -3
36                 8               8
38                -5              -5
40                 1               1
42                10              10
44                14              14
46                14              14
48                 1               1
50                -5              -5
52                 4               4
54                 2               2
56                10              10
58                13              13
...              ...             ...
2884              10              10
2886              -3              -3
2888             -16             -16
2890             -11             -11
2892              -4              -4
2894               1               1
2896              -1              -1
2898              -2              -2
2900              -6              -6
2902              -6              -6
2904              -3              -3
2906               9               9
2908               6               6
2910               0               0
2912               1               1
2914               3               3
2916              -8              -8
2918              -7              -7
2920               6               6
2922              -1              -1
2924              -4              -4
2926              -1              -1
2928              11              11
2930              13              13
2932               5               5
2934              16              16
2936              10              10
2938              -4              -4
2940              -4              -4
2942              -6              -6

[1472 rows x 2 columns]

In [20]:
final_station.isnull().sum()

Station_Station1           0
Date                       0
Tmax_Station1              0
Tmin_Station1              0
Tavg_Station1              0
Depart_Station1            0
DewPoint_Station1          0
WetBulb_Station1           3
Heat_Station1              0
Cool_Station1              0
Sunrise_Station1           0
Sunset_Station1            0
CodeSum_Station1           0
Depth_Station1             0
Water1_Station1         1472
SnowFall_Station1          0
PrecipTotal_Station1       0
StnPressure_Station1       2
SeaLevel_Station1          5
ResultSpeed_Station1       0
ResultDir_Station1         0
AvgSpeed_Station1          0
Station_Station2           0
Tmax_Station2              0
Tmin_Station2              0
Tavg_Station2             11
Depart_Station2            0
DewPoint_Station2          0
WetBulb_Station2           1
Heat_Station2             11
Cool_Station2             11
Sunrise_Station2           0
Sunset_Station2            0
CodeSum_Station2           0
Depth_Station2          1472
Water1_Station2         1472
SnowFall_Station2       1472
PrecipTotal_Station2       2
StnPressure_Station2       2
SeaLevel_Station2          4
ResultSpeed_Station2       0
ResultDir_Station2         0
AvgSpeed_Station2          3
dtype: int64

---

In [ ]:
#Column:Heat - same as 'Depart' Column, all missing values belong to Station2, 
#We have deicede to replace the missing value of station2 with the value of station1 where has the same date

In [163]:
#Replace the missing values of Heat_Station2 with values of Heat_Station1 
 # Use this code only if you changed the "M" to "NaN"
for col in ['Heat_Station2']:
    final_station[col] = final_station[col].fillna(final_station['Heat_Station1'])

In [100]:
#Replace the missing values of Heat_Station2 with values of Heat_Station1 
 #If you still keep the missing value as "M" use this code 
final_station['Heat_Station2'] = np.where((final_station.Heat_Station2 == 'M'),
                                            final_station.Heat_Station1, final_station.Heat_Station2)

In [101]:
final_station[['Heat_Station1','Heat_Station2']]

     Heat_Station1 Heat_Station2
0                0             0
2               14            13
4                9             7
6                7             7
8                5             5
10               6             5
12               0             0
14               0             0
16               0             0
18               0             0
20               4             4
22              10             9
24               9             8
26               0             0
28               0             0
30              10            10
32              12            12
34               8             8
36               0             0
38               9             8
40               3             2
42               0             0
44               0             0
46               0             0
48               2             3
50               8             5
52               0             0
54               0             0
56               0             0
58               0             0
...            ...           ...
2884             0             0
2886            11             8
2888            24            22
2890            19            16
2892            13             9
2894             8             6
2896            10             7
2898            12             8
2900            16            13
2902            17            15
2904            14            10
2906             3             0
2908             6             4
2910            12             9
2912            12             9
2914            10             9
2916            22            19
2918            21            18
2920             9             7
2922            16            13
2924            19            15
2926            17            13
2928             5             4
2930             4             1
2932            12            10
2934             1             0
2936             8             8
2938            22            20
2940            23            20
2942            25            23

[1472 rows x 2 columns]

In [102]:
final_station.isnull().sum()

Station_Station1        0
Date                    0
Tmax_Station1           0
Tmin_Station1           0
Tavg_Station1           0
Depart_Station1         0
DewPoint_Station1       0
WetBulb_Station1        0
Heat_Station1           0
Cool_Station1           0
Sunrise_Station1        0
Sunset_Station1         0
CodeSum_Station1        0
Depth_Station1          0
Water1_Station1         0
SnowFall_Station1       0
PrecipTotal_Station1    0
StnPressure_Station1    0
SeaLevel_Station1       0
ResultSpeed_Station1    0
ResultDir_Station1      0
AvgSpeed_Station1       0
Station_Station2        0
Tmax_Station2           0
Tmin_Station2           0
Tavg_Station2           0
Depart_Station2         0
DewPoint_Station2       0
WetBulb_Station2        0
Heat_Station2           0
Cool_Station2           0
Sunrise_Station2        0
Sunset_Station2         0
CodeSum_Station2        0
Depth_Station2          0
Water1_Station2         0
SnowFall_Station2       0
PrecipTotal_Station2    0
StnPressure_Station2    0
SeaLevel_Station2       0
ResultSpeed_Station2    0
ResultDir_Station2      0
AvgSpeed_Station2       0
dtype: int64

In [103]:
#Replace M in Tavg with Tmax-Tmin / 2 + Tmin
weather['Tavg'].replace(to_replace='M',value = (weather['Tmax']-weather['Tmin'])/2 + weather['Tmin'], inplace=True)

#Change Tavg type from object to int
weather[["Tavg"]] = weather[["Tavg"]].astype(int)

---

In [21]:
#Colum : Wetbulb - Since there are only 4 missing variables (station 1 : 3 missing variables, station2: 1 missing variables), 
#we are going toreplace missing values with the mean of each station)

In [104]:
#change the type of Wetbulb_Station1 Column to numeric 
final_station['WetBulb_Station1']= pd.to_numeric(final_station['WetBulb_Station1'], errors = 'coerce')

In [105]:
# calculate mean of WetBulb_Station1 = WetBulb_Station1_mean
WetBulb_Station1_mean = final_station['WetBulb_Station1'].mean(skipna = True)

In [106]:
WetBulb_Station1_mean

59.036078965282506

In [107]:
#replace the missing value of WetBulb_Station1 with the WetBulb_Station1_mean
final_station['WetBulb_Station1'] = final_station.WetBulb_Station1.fillna(WetBulb_Station1_mean)

In [108]:
#change the type of Wetbulb_Station2 Column to numeric 
final_station['WetBulb_Station2']= pd.to_numeric(final_station['WetBulb_Station2'], errors = 'coerce')

In [109]:
# calculate mean of WetBulb_Station2
WetBulb_Station2_mean = final_station['WetBulb_Station2'].mean(skipna = True)

In [110]:
WetBulb_Station2_mean

59.58531611148878

In [111]:
#replace the missing value of WetBulb_Station2 with the WetBulb_Station2_mean
final_station['WetBulb_Station2'] = final_station.WetBulb_Station2.fillna(WetBulb_Station2_mean)

In [377]:
final_station.isnull().sum()

Station_Station1        0
Date                    0
Tmax_Station1           0
Tmin_Station1           0
Tavg_Station1           0
Depart_Station1         0
DewPoint_Station1       0
WetBulb_Station1        0
Heat_Station1           0
Cool_Station1           0
Sunrise_Station1        0
Sunset_Station1         0
CodeSum_Station1        0
Depth_Station1          0
Water1_Station1         0
SnowFall_Station1       0
PrecipTotal_Station1    0
StnPressure_Station1    0
SeaLevel_Station1       0
ResultSpeed_Station1    0
ResultDir_Station1      0
AvgSpeed_Station1       0
Station_Station2        0
Tmax_Station2           0
Tmin_Station2           0
Tavg_Station2           0
Depart_Station2         0
DewPoint_Station2       0
WetBulb_Station2        0
Heat_Station2           0
Cool_Station2           0
Sunrise_Station2        0
Sunset_Station2         0
CodeSum_Station2        0
Depth_Station2          0
Water1_Station2         0
SnowFall_Station2       0
PrecipTotal_Station2    0
StnPressure_Station2    0
SeaLevel_Station2       0
ResultSpeed_Station2    0
ResultDir_Station2      0
AvgSpeed_Station2       0
dtype: int64

In [112]:
def to_celcius(x):
    c = ((x-32)/9)*5
    return(c)

In [113]:
def rel_hum(dry,wet,press=0.6687451584):
    e = float(math.e)
    ed = 6.112*(e**((17.502*dry)/(240.97+dry)))
    ew = 6.112*(e**((17.502*wet)/(240.97+wet)))
    result = (ew-press*(1+.00115*wet)*(dry-wet))/ed*100
    return(result)

In [114]:
final_station['Tavg_Station1']= pd.to_numeric(final_station['Tavg_Station1'], errors = 'coerce')
final_station['Tavg_Station2']= pd.to_numeric(final_station['Tavg_Station2'], errors = 'coerce')
#final_station['StnPressure_Station1']= pd.to_numeric(final_station['StnPressure_Station1'], errors = 'coerce')

In [115]:
import math
final_station['WetBulb_Station1_c']=final_station.WetBulb_Station1.apply(to_celcius)
final_station['Tavg_Station1_c']=final_station.Tavg_Station1.apply(to_celcius)

final_station['WetBulb_Station2_c']=final_station.WetBulb_Station2.apply(to_celcius)
final_station['Tavg_Station2_c']=final_station.Tavg_Station2.apply(to_celcius)

final_station['rel_hum_station1']=rel_hum(final_station['Tavg_Station1_c'],final_station['WetBulb_Station1_c'])
final_station['rel_hum_station2']=rel_hum(final_station['Tavg_Station2_c'],final_station['WetBulb_Station2_c'])

In [117]:
final_station.loc[:,['WetBulb_Station1_c','Tavg_Station1_c','StnPressure_Station1','rel_hum_station1']]

final_station.loc[:,['WetBulb_Station2_c','Tavg_Station2_c','StnPressure_Station2','rel_hum_station2']]

,WetBulb_Station2_c,Tavg_Station2_c,StnPressure_Station2,rel_hum_station2
0,13.888889,20.000000,29.18,50.109905
2,8.333333,11.111111,29.44,68.806204
4,10.000000,14.444444,29.46,56.364791
6,10.000000,NaN,29.36,NaN
8,10.000000,15.555556,29.46,48.219521
10,7.777778,15.555556,29.62,30.097712
12,11.666667,19.444444,29.44,37.394685
14,17.222222,21.111111,29.36,67.879717
16,17.222222,21.111111,29.28,67.879717
18,16.111111,21.666667,29.26,56.066938
20,10.555556,16.111111,29.39,49.059601
22,7.777778,13.333333,29.54,44.547284
24,7.777778,13.888889,29.55,40.602704
26,14.444444,22.222222,29.31,41.649314
28,16.111111,20.555556,29.19,63.154362
30,8.333333,12.777778,29.39,54.019525
32,6.111111,11.666667,29.62,41.425190
34,8.333333,13.888889,29.60,45.514878
36,11.666667,20.000000,29.41,34.516507
38,7.222222,13.888889,29.44,35.777753
40,13.888889,17.222222,29.39,69.233838
42,14.444444,23.333333,29.41,36.299989
44,16.111111,25.555556,29.47,36.263639
46,17.222222,25.000000,29.47,45.273559
48,11.666667,16.666667,29.57,54.456712
50,13.888889,15.555556,29.42,83.395887
52,13.888889,19.444444,29.41,53.539267
54,13.888889,18.333333,29.49,60.970133
56,18.888889,25.000000,29.44,55.688293
58,18.888889,26.666667,29.38,47.194356
...,...,...,...,...
2884,18.333333,21.666667,29.10,72.559216
2886,11.111111,13.888889,29.02,71.471537
2888,5.000000,6.111111,29.07,84.648215
2890,6.666667,9.444444,29.02,66.957743
2892,8.333333,13.333333,28.95,49.641841
2894,10.555556,15.000000,29.06,57.092748
2896,8.888889,14.444444,29.34,46.448500
2898,7.777778,13.888889,29.44,40.602704
2900,7.777778,11.111111,29.49,62.902444
2902,6.666667,10.000000,29.53,61.457706
2904,10.000000,12.777778,29.31,70.462381
2906,16.666667,18.333333,29.03,84.620819
2908,15.555556,16.111111,28.89,94.443407
2910,12.222222,13.333333,29.10,88.056061
2912,11.666667,13.333333,29.09,82.254212
2914,11.111111,13.333333,29.05,76.561797
2916,6.666667,7.777778,29.44,85.587431
2918,6.666667,8.333333,29.39,79.001757
2920,10.555556,14.444444,29.23,61.462513
2922,7.777778,11.111111,29.51,62.902444
2924,6.666667,10.000000,29.62,61.457706
2926,8.333333,11.111111,29.46,68.806204
2928,11.666667,16.111111,29.31,58.474649
2930,11.111111,17.777778,29.27,42.786594
2932,7.222222,12.777778,29.28,43.544208
2934,15.000000,19.444444,29.00,62.097981
2936,8.888889,13.888889,29.23,50.516716
2938,5.555556,7.222222,29.42,78.118926
2940,5.555556,7.222222,29.41,78.118926
2942,2.222222,5.555556,29.54,54.450226