In [10]:
import pandas as pd
import numpy as np

In [11]:
weather = pd.read_csv('/Users/leeyeji/Desktop/Kaggle WNV/predict-west-nile-virus/weather.csv')

In [12]:
#use this code only if you want to change the missing value "M" with "NaN" 
weather=weather.replace(['M'], np.NaN)

In [13]:
weather.isnull().sum()

Station           0
Date              0
Tmax              0
Tmin              0
Tavg             11
Depart         1472
DewPoint          0
WetBulb           4
Heat             11
Cool             11
Sunrise           0
Sunset            0
CodeSum           0
Depth          1472
Water1         2944
SnowFall       1472
PrecipTotal       2
StnPressure       4
SeaLevel          9
ResultSpeed       0
ResultDir         0
AvgSpeed          3
dtype: int64

In [ ]:
#Split the dataset into station1 and station2

In [15]:
station1 = weather.loc[weather['Station'] == 1]

In [16]:
station2 = weather.loc[weather['Station'] == 2]

In [ ]:
#join the separated dataset

In [17]:
final_station = station1.join(station2.set_index('Date'), on='Date', lsuffix = '_Station1', rsuffix='_Station2')

---

In [7]:
#Column name : Depart - since all missing values belong to Station2, 
#We have deicede to replace the missing value of station2 with the value of station1 where has the same date

In [18]:
#Replace the missing values of Depart_Station2 with values of Depart_Station1 
 # Use this code only if you changed the "M" to "NaN"
for col in ['Depart_Station2']:
    final_station[col] = final_station[col].fillna(final_station['Depart_Station1'])

In [19]:
final_station[['Depart_Station1','Depart_Station2']]

     Depart_Station1 Depart_Station2
0                 14              14
2                 -3              -3
4                  2               2
6                  4               4
8                  5               5
10                 4               4
12                10              10
14                12              12
16                13              13
18                14              14
20                 4               4
22                -2              -2
24                -2              -2
26                15              15
28                11              11
30                -4              -4
32                -6              -6
34                -3              -3
36                 8               8
38                -5              -5
40                 1               1
42                10              10
44                14              14
46                14              14
48                 1               1
50                -5              -5
52                 4               4
54                 2               2
56                10              10
58                13              13
...              ...             ...
2884              10              10
2886              -3              -3
2888             -16             -16
2890             -11             -11
2892              -4              -4
2894               1               1
2896              -1              -1
2898              -2              -2
2900              -6              -6
2902              -6              -6
2904              -3              -3
2906               9               9
2908               6               6
2910               0               0
2912               1               1
2914               3               3
2916              -8              -8
2918              -7              -7
2920               6               6
2922              -1              -1
2924              -4              -4
2926              -1              -1
2928              11              11
2930              13              13
2932               5               5
2934              16              16
2936              10              10
2938              -4              -4
2940              -4              -4
2942              -6              -6

[1472 rows x 2 columns]

In [364]:
#Replace the missing values of Depart_Station2 with values of Depart_Station1 
 #If you still keep the missing value as "M" use this code 
final_station['Depart_Station2'] = np.where((final_station.Depart_Station2 == 'M'),
                                            final_station.Depart_Station1, final_station.Depart_Station2)

In [365]:
final_station[['Depart_Station1','Depart_Station2']]

     Depart_Station1 Depart_Station2
0                 14              14
2                 -3              -3
4                  2               2
6                  4               4
8                  5               5
10                 4               4
12                10              10
14                12              12
16                13              13
18                14              14
20                 4               4
22                -2              -2
24                -2              -2
26                15              15
28                11              11
30                -4              -4
32                -6              -6
34                -3              -3
36                 8               8
38                -5              -5
40                 1               1
42                10              10
44                14              14
46                14              14
48                 1               1
50                -5              -5
52                 4               4
54                 2               2
56                10              10
58                13              13
...              ...             ...
2884              10              10
2886              -3              -3
2888             -16             -16
2890             -11             -11
2892              -4              -4
2894               1               1
2896              -1              -1
2898              -2              -2
2900              -6              -6
2902              -6              -6
2904              -3              -3
2906               9               9
2908               6               6
2910               0               0
2912               1               1
2914               3               3
2916              -8              -8
2918              -7              -7
2920               6               6
2922              -1              -1
2924              -4              -4
2926              -1              -1
2928              11              11
2930              13              13
2932               5               5
2934              16              16
2936              10              10
2938              -4              -4
2940              -4              -4
2942              -6              -6

[1472 rows x 2 columns]

In [20]:
final_station.isnull().sum()

Station_Station1           0
Date                       0
Tmax_Station1              0
Tmin_Station1              0
Tavg_Station1              0
Depart_Station1            0
DewPoint_Station1          0
WetBulb_Station1           3
Heat_Station1              0
Cool_Station1              0
Sunrise_Station1           0
Sunset_Station1            0
CodeSum_Station1           0
Depth_Station1             0
Water1_Station1         1472
SnowFall_Station1          0
PrecipTotal_Station1       0
StnPressure_Station1       2
SeaLevel_Station1          5
ResultSpeed_Station1       0
ResultDir_Station1         0
AvgSpeed_Station1          0
Station_Station2           0
Tmax_Station2              0
Tmin_Station2              0
Tavg_Station2             11
Depart_Station2            0
DewPoint_Station2          0
WetBulb_Station2           1
Heat_Station2             11
Cool_Station2             11
Sunrise_Station2           0
Sunset_Station2            0
CodeSum_Station2           0
Depth_Station2          1472
Water1_Station2         1472
SnowFall_Station2       1472
PrecipTotal_Station2       2
StnPressure_Station2       2
SeaLevel_Station2          4
ResultSpeed_Station2       0
ResultDir_Station2         0
AvgSpeed_Station2          3
dtype: int64

---

In [ ]:
#Column:Heat - same as 'Depart' Column, all missing values belong to Station2, 
#We have deicede to replace the missing value of station2 with the value of station1 where has the same date

In [163]:
#Replace the missing values of Heat_Station2 with values of Heat_Station1 
 # Use this code only if you changed the "M" to "NaN"
for col in ['Heat_Station2']:
    final_station[col] = final_station[col].fillna(final_station['Heat_Station1'])

In [366]:
#Replace the missing values of Heat_Station2 with values of Heat_Station1 
 #If you still keep the missing value as "M" use this code 
final_station['Heat_Station2'] = np.where((final_station.Heat_Station2 == 'M'),
                                            final_station.Heat_Station1, final_station.Heat_Station2)

In [367]:
final_station[['Heat_Station1','Heat_Station2']]

     Heat_Station1 Heat_Station2
0                0             0
2               14            13
4                9             7
6                7             7
8                5             5
10               6             5
12               0             0
14               0             0
16               0             0
18               0             0
20               4             4
22              10             9
24               9             8
26               0             0
28               0             0
30              10            10
32              12            12
34               8             8
36               0             0
38               9             8
40               3             2
42               0             0
44               0             0
46               0             0
48               2             3
50               8             5
52               0             0
54               0             0
56               0             0
58               0             0
...            ...           ...
2884             0             0
2886            11             8
2888            24            22
2890            19            16
2892            13             9
2894             8             6
2896            10             7
2898            12             8
2900            16            13
2902            17            15
2904            14            10
2906             3             0
2908             6             4
2910            12             9
2912            12             9
2914            10             9
2916            22            19
2918            21            18
2920             9             7
2922            16            13
2924            19            15
2926            17            13
2928             5             4
2930             4             1
2932            12            10
2934             1             0
2936             8             8
2938            22            20
2940            23            20
2942            25            23

[1472 rows x 2 columns]

In [278]:
final_station.isnull().sum()

Station_Station1        0
Date                    0
Tmax_Station1           0
Tmin_Station1           0
Tavg_Station1           0
Depart_Station1         0
DewPoint_Station1       0
WetBulb_Station1        0
Heat_Station1           0
Cool_Station1           0
Sunrise_Station1        0
Sunset_Station1         0
CodeSum_Station1        0
Depth_Station1          0
Water1_Station1         0
SnowFall_Station1       0
PrecipTotal_Station1    0
StnPressure_Station1    0
SeaLevel_Station1       0
ResultSpeed_Station1    0
ResultDir_Station1      0
AvgSpeed_Station1       0
Station_Station2        0
Tmax_Station2           0
Tmin_Station2           0
Tavg_Station2           0
Depart_Station2         0
DewPoint_Station2       0
WetBulb_Station2        0
Heat_Station2           0
Cool_Station2           0
Sunrise_Station2        0
Sunset_Station2         0
CodeSum_Station2        0
Depth_Station2          0
Water1_Station2         0
SnowFall_Station2       0
PrecipTotal_Station2    0
StnPressure_Station2    0
SeaLevel_Station2       0
ResultSpeed_Station2    0
ResultDir_Station2      0
AvgSpeed_Station2       0
dtype: int64

In [368]:
#Replace M in Tavg with Tmax-Tmin / 2 + Tmin
weather['Tavg'].replace(to_replace='M',value = (weather['Tmax']-weather['Tmin'])/2 + weather['Tmin'], inplace=True)

#Change Tavg type from object to int
weather[["Tavg"]] = weather[["Tavg"]].astype(int)

---

In [21]:
#Colum : Wetbulb - Since there are only 4 missing variables (station 1 : 3 missing variables, station2: 1 missing variables), 
#we are going toreplace missing values with the mean of each station)

In [369]:
#change the type of Wetbulb_Station1 Column to numeric 
final_station['WetBulb_Station1']= pd.to_numeric(final_station['WetBulb_Station1'], errors = 'coerce')

In [370]:
# calculate mean of WetBulb_Station1 = WetBulb_Station1_mean
WetBulb_Station1_mean = final_station['WetBulb_Station1'].mean(skipna = True)

In [371]:
WetBulb_Station1_mean

59.036078965282506

In [372]:
#replace the missing value of WetBulb_Station1 with the WetBulb_Station1_mean
final_station['WetBulb_Station1'] = final_station.WetBulb_Station1.fillna(WetBulb_Station1_mean)

In [373]:
#change the type of Wetbulb_Station2 Column to numeric 
final_station['WetBulb_Station2']= pd.to_numeric(final_station['WetBulb_Station2'], errors = 'coerce')

In [374]:
# calculate mean of WetBulb_Station2
WetBulb_Station2_mean = final_station['WetBulb_Station2'].mean(skipna = True)

In [375]:
WetBulb_Station2_mean

59.58531611148878

In [376]:
#replace the missing value of WetBulb_Station2 with the WetBulb_Station2_mean
final_station['WetBulb_Station2'] = final_station.WetBulb_Station2.fillna(WetBulb_Station2_mean)

In [377]:
final_station.isnull().sum()

Station_Station1        0
Date                    0
Tmax_Station1           0
Tmin_Station1           0
Tavg_Station1           0
Depart_Station1         0
DewPoint_Station1       0
WetBulb_Station1        0
Heat_Station1           0
Cool_Station1           0
Sunrise_Station1        0
Sunset_Station1         0
CodeSum_Station1        0
Depth_Station1          0
Water1_Station1         0
SnowFall_Station1       0
PrecipTotal_Station1    0
StnPressure_Station1    0
SeaLevel_Station1       0
ResultSpeed_Station1    0
ResultDir_Station1      0
AvgSpeed_Station1       0
Station_Station2        0
Tmax_Station2           0
Tmin_Station2           0
Tavg_Station2           0
Depart_Station2         0
DewPoint_Station2       0
WetBulb_Station2        0
Heat_Station2           0
Cool_Station2           0
Sunrise_Station2        0
Sunset_Station2         0
CodeSum_Station2        0
Depth_Station2          0
Water1_Station2         0
SnowFall_Station2       0
PrecipTotal_Station2    0
StnPressure_Station2    0
SeaLevel_Station2       0
ResultSpeed_Station2    0
ResultDir_Station2      0
AvgSpeed_Station2       0
dtype: int64

In [378]:
#now, in order to calclate Relative Humidity, install metpy

Requirement already satisfied: metpy in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (0.11.0)
Requirement already satisfied: traitlets>=4.3.0 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from metpy) (4.3.2)
Requirement already satisfied: pandas>=0.22.0 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from metpy) (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from metpy) (1.16.4)
Requirement already satisfied: pint in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from metpy) (0.9)
Requirement already satisfied: matplotlib>=2.1.0 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from metpy) (3.1.0)
Requirement already satisfied: scipy>=0.17.0 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from metpy) (1.3.0)
Requirement already satisfied: pooch>=0.1 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from metpy) (0.5.2)
Requirement already satisfied: xarray>=0.10.7 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from metpy) (0.13.0)
Requirement already satisfied: decorator in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->metpy) (4.4.0)
Requirement already satisfied: six in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->metpy) (1.12.0)
Requirement already satisfied: ipython-genutils in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->metpy) (0.2.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from pandas>=0.22.0->metpy) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from pandas>=0.22.0->metpy) (2019.1)
Requirement already satisfied: cycler>=0.10 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.1.0->metpy) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.1.0->metpy) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.1.0->metpy) (2.4.0)
Requirement already satisfied: appdirs in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from pooch>=0.1->metpy) (1.4.3)
Requirement already satisfied: requests in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from pooch>=0.1->metpy) (2.22.0)
Requirement already satisfied: packaging in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from pooch>=0.1->metpy) (19.0)
Requirement already satisfied: setuptools in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.0->metpy) (41.0.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from requests->pooch>=0.1->metpy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from requests->pooch>=0.1->metpy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from requests->pooch>=0.1->metpy) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/leeyeji/anaconda3/lib/python3.7/site-packages (from requests->pooch>=0.1->metpy) (2019.6.16)
Note: you may need to restart the kernel to use updated packages.

In [379]:
import metpy

In [380]:
from metpy.calc import relative_humidity_wet_psychrometric

In [382]:
relative_humidity_wet_psychrometric('Tavg_Station1','WetBulb_Station1','StnPressure_Station1')

ValueError: `relative_humidity_wet_psychrometric` given arguments with incorrect units: `dry_bulb_temperature` requires "[temperature]" but given "none", `web_bulb_temperature` requires "[temperature]" but given "none", `pressure` requires "[pressure]" but given "none".
Any variable `x` can be assigned a unit as follows:
    from metpy.units import units
    x = x * units.meter / units.second